$bc-change-photo: #f0f0f0;

.change-photo {
    background-color: $bc-change-photo;
    width: 140px;
    margin: 0 auto 15px;
    padding-bottom: 10px;
    border-radius: 5px !important;
    @include transition(background, .3, ease);

    img {
        width: 100px;
        padding: 10px;
    }
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: darken($bc-change-photo, 5%);
    }
}

.form-group {
    .info {
        font-size: .9em;
        color: #4c4c4c;
    }
    &.error {
        .form-control{
            border: 2px $brand-primary solid;
        }
        .error {
            color: $brand-primary;
            font-size: .9em;
        }

    }
}